.image_size{
    width: 110px;
    height: 115px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .left_box{
        padding:15px; 
        background-color: #039be5; 
        
        border-radius: 8px;
        overflow: auto;
        
    } 
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 577px) {
    .left_box{
         
        padding:15px;  
       
        border-radius: 8px;
        overflow: auto;
        color: black;
        height: 750px;
        /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
        background-color: white;
        box-shadow: 3px 7px 9px 3px rgb(146, 146, 146)
        
    }
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .centre_box{
        padding:15px; 
        background-color: #DAD2D5; 
        
        border-radius: 8px;
        overflow: auto;
    } 
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 577px) {
    .centre_box{
         
        padding:15px;  
       
        border-radius: 8px;
        overflow: auto;
        color: black;
        height: 535px;
        /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
        background-color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        
    }
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .right_box{
        padding:15px; 
        background-color: #DAD2D5; 
        
        border-radius: 8px;
        overflow: auto;
    } 
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 577px) {
    .right_box{
         
        padding:15px;  
       
        border-radius: 8px;
        overflow: auto;
        color: black;
        height: 750px;
        /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
        background-color: white;
        box-shadow: -3px 7px 9px 3px rgb(146, 146, 146)
        
    }
  }
  .school_img{
      width:398px;
      height:160px
  }
.text_down{
    padding-top: 15px
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px
}

td, th {
  
  text-align: left;
  padding: 4px;
}

