<nav style="background-color: #039be5;padding-bottom: 15px;">
  <h2 class="text_down"
    style="font-size: 30px;text-align: center;color: white;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    My Personal Information</h2>
</nav>
<div class=" container-fluid">
  <div style="padding: 10px"></div>
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-lg-12">
          <div class="left_box">
            <h4>My Profile</h4>
            <div style="padding: 5px"></div>
            <img style="border-radius: 5px" class="image_size" src="../assets/images/samcred.jpg">
            <div style="padding: 10px 0px"></div>
            <hr>

            <table style="width:100%">

              <tr>
                <td>Name :</td>
                <td style="padding-left: 20px">A Sam Joseph</td>

              </tr>
              <tr>
                <td>Age :</td>
                <td style="padding-left: 20px">24</td>

              </tr>
              <tr>
                <td>D.O.B :</td>
                <td style="padding-left: 20px">05-09-2019</td>

              </tr>
              <tr>
                <td width="30%">Address :</td>
                <td style="padding-left: 20px">125/8, Jesus Tabernacle, C.S.I. church street(east),
                  Radhapuram,
                  Tirunelveli, Tamilnadu -
                  India.</td>

              </tr>
              <tr>
                <td>Ph :</td>
                <td style="padding-left: 20px">+91 9943429284</td>

              </tr>
              <tr>
                <td>Email :</td>
                <td style="padding-left: 20px">samjoseph.it@gmail.com</td>

              </tr>
            </table>

            <hr>

            <!-- <div style="padding: 10px"> </div> -->
            <!-- <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" [(ngModel)]="email1" name="email" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Enter email"
                  [ngClass]="{'is-valid': successMsg, 'is-invalid' : errorMsg && error_Type == 'emailerType'}">
               <div class="valid-feedback">{{successMsg}}</div> 
                <div *ngIf="error_Type == 'emailerType'" class="invalid-feedback">{{errorMsg}}</div>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" [(ngModel)]="password1" name="password"
                  placeholder="Password"
                  [ngClass]="{'is-valid': successMsg, 'is-invalid' : errorMsg && error_Type == 'passerType'}">
                <div class="valid-feedback">{{successMsg}}</div>
                <div *ngIf="error_Type == 'passerType'" class="invalid-feedback">{{errorMsg}}</div>
              </div>
              <button type="submit" (click)="storedata() " class="btn btn-primary">Submit</button>
            </form> -->

            <div>
              <a href="https://www.facebook.com/samjoseph5" target="_blank">
                <i class="fab fa-facebook fa-2x " style=" color:#4166b2"></i></a>
              <a href="https://twitter.com/Sam5Joe" target="_blank">
                <i class="fab fa-twitter fa-2x" style="padding-left: 15px;color:#1da1f2"></i></a>
              <a href="https://www.linkedin.com/in/sam-joseph-80490515b/" target="_blank">
                <i class="fab fa-linkedin fa-2x" style="padding-left: 15px;color:#0077B5"></i></a>
              <a href="https://www.youtube.com/channel/UCBpn2dfBJzz4eUQyAjQ2ihA?view_as=subscriber" target="_blank">
                <i class="fab fa-youtube fa-2x" style="padding-left: 15px;color:#ff3400"></i></a>
              <a href="https://slamtrade.com/" target="_blank">
                <img style="width: 35px;height: 35px;margin-left: 16px;margin-bottom: 14px"
                  src="../assets/images/logo.png">
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h4 style="text-align: center">Detail Info</h4>
          <div class="row">
            <div class="col-md-4" style="margin-left: 100px;padding:15px">
              <div class="row">
                <div class="col-md-12 centre_box">
                  <h4 style="text-align: center">Schooling</h4>
                  <div style="padding:5px"></div>
                  <p style="text-align: justify">I did my 10th standard in Kings Matric. Hr.Sec.School. And also I did
                    my 12th in Kings Matric. Hr.Sec.School. In my school days I started playing volleyball as my
                    professional game. I also played beach volleyball in district level meet. School life is my life
                    enjoyable moment.</p>
                  <div style="padding:10px"></div>
                  <img class="school_img" src="../assets/images/school.jpg">
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin-left: 222px;padding:15px">
              <div class="row">
                <div class="col-md-12 centre_box">
                  <h4 style="text-align: center">College</h4>
                  <div style="padding:5px"></div>
                  <p style="text-align: justify">I did my B.Tech. Information Technology in CSI Institute of Technology.
                  </p>
                  <img class="school_img" src="../assets/images/btech.jpg">
                  <div style="padding:5px"></div>
                  <p style="text-align: justify">I did my M.Tech. Information Technology in Karunya Institute of
                    Technology and Sciences.
                  </p>
                  <img class="school_img" src="../assets/images/karunya.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container" style="background-color: white;height: 150px;border-radius: 8px">
        <div style="padding:5px"></div>
        <h5>Professional</h5>
        <p>Position - Software Engineer at Slamtrade.</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <div class="right_box">
            <h4>Daily Quote</h4>
            <div style="padding:5px"></div>
            <p style="text-align: justify">Keep doing the right thing, keep being good to people that are not good to
              you, keep smiling, keep a song
              of praise. That’s not just being positive; that’s an attitude of faith. That’s what allows God to show out
              in your life.</p>
            <p style="text-align: right;font-weight: bold">#JoelOsteen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>